.modalBackground 
{
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modalImg {
  max-width: 140px;   /* Set desired width */
  max-height: 140px;  /* Set desired height */
  object-fit: cover; /* Ensures the image covers the area without distortion */

  margin-top: 8px;
  margin-bottom: 8px;
}

.modalContainer 
{
  width: 400px;
  height: 500px;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(255, 255, 255, 0.67) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modalContainer .title 
{
  display: inline-block;
  text-align: center;
  margin-top: 1px;
}

.modalContainer .upperBody
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1px;
}

.genre
{
  margin: 10px;
  color: dimgrey;
}

.rating
{
  color: brown;
}

.closeBtn 
{
  display: flex;
  justify-content: flex-end;
}

.closeBtn button 
{
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: crimson;
}

.modalContainer .body 
{
  /* flex: 1; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* font-size: 1.1rem; */
  /* text-align: center; */
  /* overflow-wrap: break-word; */
  /* word-break: break-word; */
  /* overflow: auto; */
  /* max-height: 60vh; */
  /* box-shadow: rgba(255, 255, 255, 0.67) 0px 5px 15px; */

  display: block;
  font-size: 1.1rem;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
}

.modalContainer .footer 
{
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}