.modalBackground 
{
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modalImg {
  max-width: 125px;   /* Set desired width */
  max-height: 125px;  /* Set desired height */
  object-fit: cover; /* Ensures the image covers the area without distortion */

  margin-top: 22px;
}

.modalContainer 
{
  width: 300px;
  height: 300px;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(255, 255, 255, 0.67) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modalContainer .title 
{
  display: inline-block;
  text-align: center;
  margin-top: 1px;
}

.titleCloseBtn 
{
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button 
{
  background-color: transparent;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.modalContainer .body 
{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  text-align: center;
}

.modalContainer .footer 
{
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button 
{
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn 
{
  background-color: crimson;
}