#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-image: linear-gradient(to bottom right, blue, white); */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.searchButton
{
  background-image: linear-gradient(to bottom right, rgba(0, 0, 255, 0.3), rgb(0, 0, 0, 0.3));
}

.searchButton:hover
{
  background-image: linear-gradient(to bottom right, rgba(0, 0, 255, 0.75), rgba(50, 50, 50, 0.75));
  filter: drop-shadow(0 0 1em #4a4a4a4a);
}

.favButton
{
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.3), rgb(0, 0, 0, 0.3));
}

.favButton:hover
{
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.75), rgba(50, 50, 50, 0.75));
  filter: drop-shadow(0 0 1em #4a4a4a4a);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fixedHeader {
  position: fixed;
  margin-top: 1rem;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem 0;            /* adjust as needed for spacing */
  display: flex;
  align-Items: center;
  justify-content: center;    /* or space-between, left, etc. */
  gap: 1.5rem;                /* controls spacing between items */
}

.bodyBlueGrad {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 255, 0.15), rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background-color: black;
}

.bodyRedGrad {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.15), rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background-color: black;
}